
@font-face {
  font-family: TKE;
  src: url('../../assets/tkreg.ttf'); 
}

body{
  margin: 0;
  width: 100%;
  background-color: #FCFCFC;
}

.Login-header {
  background-color: white;
  background-image: url('../../assets/bg_login.png'); 
  background-position: center;
  background-position-y: top;
  background-repeat: no-repeat;
  height: 1000px;
  color: black;
}

.h1Login {
  color: #3fbfe7;
}

.no-margin{
  margin: 0;
}

.btnArredondado {
  border-radius: 15px;
  background-color: white;
  border: 1px solid #4ac3e9;
  color: #d9e3e6;
  width: 100%;
}

.btnArredondado:hover {
  background-color: #4ccbf9;
  transition: all .3s;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: white;
  background-color: #008EC5;
}

.boxLogin {
  font-family: TKE, sans-serif;
  padding-top:420px;
  width: 100%;
  max-width: 700px;  
  margin: 0 auto;
  color: grey;
}

@media(max-width: 350px){
  .boxLogin .row {
    margin: 0 3%;
  }
}

.tabContainerLogin {
  width: 500px;  
  height: 400px;
  max-height: 400px;
}

.rowLogin {
  height: 100%;
  min-height: 200px;
  color: grey;
}

.errorLabel  
{
  color: red;
}

.App-link {
  color: #61dafb;
}

span {
  pointer-events: none;
  position: absolute;
  left: 10px;
  top: 8px;
  transition: 0.2s;
  transition-timing-function: ease;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  opacity: 0.5;
  margin-left: 10px;
  background-color: #fff;
  padding: 0 4px;
  font-size: 14px;
}


input:focus + span, input:not(:placeholder-shown) + span {
  opacity:1;
  transform: scale(0.75) translateY(-100%) translateX(-30px);
}

/* For IE Browsers*/
input:focus + span, input:not(:-ms-input-placeholder) + span {
  opacity:1;
  transform: scale(0.75) translateY(-100%) translateX(-30px);
}

label {
  width: 100%;
  position:relative;
  display:inline-block;
  outline: 0;
}

input {
  padding:5px;
  width: 100%;
}

input:focus + span, input:not(:placeholder-shown) + span {
  opacity:1;
  transform: scale(0.75) translateY(-100%) translateX(-30px);
}

/* For IE Browsers*/
input:focus + span, input:not(:-ms-input-placeholder) + span {
  opacity:1;
  transform: scale(0.75) translateY(-100%) translateX(-30px);
}